<div id="{{ container }}"></div>
<script type="text/javascript">
	var _flockler = _flockler || [];
	_flockler.push({
		site: {{ site }},
		{% if section is not null %} section: {{ section }}, {% endif %}
		container: '{{ container }}',
		style: 'wall_v1',
		{% if count is not null %} count: {{ count }}, {% endif %}
		{% if refresh is not null %} refresh: {{ refresh }}, {% endif %}
		{% if refresh_type is not null %} refreshType: '{{ refresh_type }}', {% endif %}
		{% if default_css is not null %} defaultCss: '{{ default_css }}', {% endif %}
		{% if default_js is not null %} defaultJs: '{{ default_js }}', {% endif %}
		{% if infinite_scroll is not null %} infiniteScroll: '{{ infinite_scroll }}', {% endif %}
		{% if articles is not null %} articles: [{{ articles }}], {% endif %}
		{% if tags is not null %} tags: [{{ tags }}], {% endif %}
		{% if filter_only is not null %} only: '{{ filter_only }}', {% endif %}
		{% if load_more_text is not null %} loadMoreText: '{{ load_more_text }}', {% endif %}
		{% if show_more_text is not null %} showMoreText: '{{ show_more_text }}' {% endif %}
	});
</script>